<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.crud.comment.CommentMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment(content, post_id, member_id)
        VALUES(#{content}, #{postId}, #{memberId})
    </insert>

    <select id="findById" resultType="hello.crud.comment.Comment">
        SELECT * FROM comment WHERE id = #{id}
    </select>

    <select id="findAll" resultType="hello.crud.comment.Comment">
        SELECT * FROM comment;
    </select>

    <delete id="deleteAll">
        DELETE FROM comment;
    </delete>
</mapper>